ul.nav-pills{
	margin-top: 25px;
}

ul.nav-pills li a{
	color: #8D0511;
}

.nav-pills li.active a{
	background-color: #8D0511;
}

.nav-pills li.active a:hover{
	background-color: #591B21;
}



.nav-pills li.active a:focus{
	background-color: #591B21;
}

