

ul#tabs{
	padding-left: 55px;
}

ul#tabs li{
	padding-right: 30px;
}

li.active a{
	background-color: transparent !important;
	color: #333 !important;
	border-bottom: #4A90E2 3px solid;
	border-radius: 0;
	padding-bottom: 5px !important;
}

li.disabled a{
	color: #979797 !important;
	pointer-events: none;
}

ul#tabs li a:hover{
	background-color: transparent !important;
	color: #4A90E2 !important;
}

.tab-pane{
	margin-top: 50px; 
}