.alert{
	position: absolute;
	width:40%;
	height:70%;
	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto; 
	background-color: #fff;
	z-index: 20;
}

.alert .title{
	text-align: center;
	margin-top:;
}

.alert .description{
	text-align: center;
}

.alert button{
	margin-top: 80px;
}

.overlay{
	background-color: #000;
	opacity: .6;
	z-index: 9;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

