div.alert{
	width:500px;
	height:300px;
	position: absolute;
	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto; 
	background-color: #fff;
	z-index: 20;
	text-align: center;
}

.alert .title{
	text-align: center;
}

.alert .icon span.icon {
	font-size: 80px;

}

.alert .description{
	text-align: center;
}

.alert button{
	margin-top: 45px;
	float: none;
}

.overlay{
	background-color: #000;
	opacity: .6;
	z-index: 9;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

