/********************************************************
* This is the general css class to effect the entire site
*
*
*
*
* Font color: #333;
* blue color: #4A90E2;
* grey color: #979797;
*
*
*/

@font-face{
	font-family:'dripicons';
	src:url('../../Fonts/dripicons-v2.ttf');
}

.icon{
	font-family: 'dripicons';
}

h1,h2,h3,h4,h5,h6,p,a,li,button{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color:#333;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

#title{
	margin-bottom: 36px;
	margin-top: 25px;
	font-weight: 400;
}

#main-content{
	padding-left: 75px;
}

.hr{
	border-bottom: 1px #979797 solid;
	position: absolute;
	top:201px;
	width: 100%;
	z-index: -1;
}

.btn-primary{
	margin-top: 20px;
	background-color: #4A90E2;
	padding: 12px 40px;
	font-size: 14px;
	border-radius: 15px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	float: right;
	background-image: none;
	border:3px #4A90E2 solid;
	text-shadow: none;
	box-shadow: none;
}

.btn-secondary{
	margin-top: 20px;
	background-color: transparent;
	padding: 12px 40px;
	font-size: 14px;
	border-radius: 15px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color:#4A90E2;
	float: right;
	background-image: none;
	border:3px #4A90E2 solid;
	text-shadow: none;
	box-shadow: none;
	outline-offset: -8px;
}

.btn-secondary:hover{
	background-color: #4A90E2;
	padding: 12px 40px;
	font-size: 14px;
	border-radius: 15px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	float: right;
	background-image: none;
	border:3px #4A90E2 solid;
	text-shadow: none;
	box-shadow: none;
}


#errorplate{
	padding: 10px 20px;
	margin-left: 90px;
}
#ouname{
	margin-left:12px;
}

.textbox {
	height: 200px;
}
