/********************************************************
* This is the general css class to effect the entire site
*
*
*
*
* Font color: #333;
* blue color: #4A90E2;
* grey color: #979797;
*
*
********************************************************/


/********************************************************
* 
* Basic Styles
*
********************************************************/
@font-face{
	font-family:'dripicons';
	src:url('../../Fonts/dripicons-v2.ttf');
}

.icon{
	font-family: 'dripicons';
}

h1,h2,h3,h4,h5,h6,p,a,li,button{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color:#333;
}



.row{
	margin-left: 0;
	margin-right: 0;
}

#title{
	margin-bottom: 36px;
	margin-top: -45px;
	font-weight: 600;
	color: #333;
	font-size: 24px;
	padding-left: 25px;
}

#main-content{
	padding-left: 0px;
	padding-right: 0px;
	background-color: #F6F6F6;
}

#main-box{
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.35);
	padding: 0 25px 25px 25px;
	margin-top: 25px;
}

#main-box h2{
	margin-top: 50px;
	margin-bottom: 50px;
}

#main-box ul {
	list-style: none;
}

#main-box ul li{
	font-size: 18px;
}

h2{
	font-size: 20px;
	font-weight: 400;
}

#main-box select{
	background-color: #F6F6F6 !important;
	box-shadow: none;
	padding: 15px 30px;
	font-size: 14px;
}

h1.box-title{
	font-size: 24px;
}

p.status{
	color:#767676;
	font-weight: 400;
	margin-bottom: 5px;
	font-size: 14px;
}

p.status span{
	font-weight: 600;
}

#errorplate{
	padding: 10px 20px;
	margin-left: 90px;
}

#ouname{
	margin-left:12px;
}

.content-general{
	margin-top: 25px;
}

.textbox {
	height: 200px;
}

/********************************************************
* 
* Button Styles
*
********************************************************/

.btn-primary{
	margin-top: 20px;
	background-color: #8D0511;
	padding: 12px 40px;
	font-size: 14px;
	border-radius: 15px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	float: right;
	background-image: none;
	border:3px #8D0511 solid;
	text-shadow: none;
	box-shadow: none;
}

.btn-primary:hover{
	margin-top: 20px;
	background-color: #9F0816;
	padding: 12px 40px;
	font-size: 14px;
	border-radius: 15px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	float: right;
	background-image: none;
	border:3px #9F0816 solid;
	text-shadow: none;
	box-shadow: none;
}

.btn-secondary{
	margin-top: 20px;
	background-color: transparent;
	padding: 12px 40px;
	font-size: 14px;
	border-radius: 15px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color:#8D0511;
	float: right;
	background-image: none;
	border:3px #8D0511 solid;
	text-shadow: none;
	box-shadow: none;
	outline-offset: -8px;
}

.btn-secondary:hover{
	background-color: #8D0511;
	padding: 12px 40px;
	font-size: 14px;
	border-radius: 15px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	float: right;
	background-image: none;
	border:3px #8D0511 solid;
	text-shadow: none;
	box-shadow: none;
}

/********************************************************
* 
* Overide Styles
*
********************************************************/

.modal-footer{
	border-top:none;
}


