#top-bar{
	/*Correct for row default margin*/
	margin-left: 0;
	margin-right: 0;
	padding: 15px 30px;
	height: 64px;
	border-bottom: 1px solid #979797;
}


#top-bar h1{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	font-weight: 400;
	margin-top: -30px;
	margin-left: 10px;
}

#top-bar h1 span{
	font-weight: 800;
}

#user-name{
	float: right;
	margin-top: 5px;
	margin-right:20px;
}

#user-name button{
	color:#131415;
	background-color: transparent;
	border: none;
}

nav{
	padding-top: 20px;
	background-color: #323E4A;
	/*Arbitrary height until content is added to match*/
	height: 2000px;
	min-width: 200px;
}

nav ul{
	list-style: none;
	padding-left: 0;
}

nav ul li#header a{
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	margin-bottom: 10px;
}

nav ul li#header a:hover, nav ul li#header a:visited, nav ul li#header a:active, nav ul li#header a:link{
	text-decoration: none;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}

nav ul li{
	margin-bottom: 21px;

}

nav ul li a{
	color: #a0a5ab;
	padding-left: 5px;
	font-size: 16px;
	font-weight: 400;
	vertical-align: middle;
}

nav ul li a.selected{
	color: #fff;
	font-weight: 600;
}

nav ul li a:hover{
	text-decoration: none;
	color: #fff;
}

#top-bar span.icon{
	font-size:22px;
	padding-right: 10px;
	vertical-align: middle;
}

#log-out{
	font-weight: 400;
	color: #000;
	padding-left: 20px;
}

#log-out:hover{
	text-decoration: none;
	color: #000;
	font-weight: 600;
}


nav span.icon{
	font-size:26px;
	padding-right: 10px;
	vertical-align: middle;
}
#ContentRight{
	float:left;
	margin-top:5%;
	margin-left:10%;

}