body{
    background: rgba(115,0,10,1);
background: -moz-linear-gradient(left, rgba(115,0,10,1) 0%, rgba(151,8,20,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(115,0,10,1)), color-stop(100%, rgba(151,8,20,1)));
background: -webkit-linear-gradient(left, rgba(115,0,10,1) 0%, rgba(151,8,20,1) 100%);
background: -o-linear-gradient(left, rgba(115,0,10,1) 0%, rgba(151,8,20,1) 100%);
background: -ms-linear-gradient(left, rgba(115,0,10,1) 0%, rgba(151,8,20,1) 100%);
background: linear-gradient(to right, rgba(115,0,10,1) 0%, rgba(151,8,20,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000a', endColorstr='#970814', GradientType=1 );
}

#logo{
    padding-top: 100px;
    padding-bottom: 40px;
}

input{
    background-color: #60010C;
    border:none;
    color:#fff;
    padding: 15px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size:18px;
}

#login-button{
    background-color: #fff;
    color:#73000a;
    padding: 15px;
    margin-top: 20px;
}

#login-button:hover{
    background-color: #73000a;
    color:#fff;
    padding: 15px;
    margin-top: 20px;
}

#login-link{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:14px;
}

#error{
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:13px;
    margin-bottom: 10px;
}

h1{
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
}

