.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.904297;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.944336;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.891602;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-2.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(140,38,51),0 0.015em rgb(140,38,51),0.015em 0 rgb(140,38,51),0 -0.015em  rgb(140,38,51);}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(140,38,51);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.260005px;}
._1{width:51.804000px;}
._8{width:1158.087951px;}
._9{width:1211.943951px;}
._3{width:1240.411951px;}
._b{width:1455.879951px;}
._2{width:1497.415951px;}
._a{width:1532.615951px;}
._4{width:1665.275951px;}
._6{width:1685.427951px;}
._5{width:1695.107951px;}
._7{width:1704.435951px;}
.fc2{color:rgb(196,89,17);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(140,38,51);}
.fs4{font-size:38.000000px;}
.fs2{font-size:44.000000px;}
.fs3{font-size:64.000000px;}
.fs1{font-size:88.000000px;}
.fs0{font-size:240.000000px;}
.y6b{bottom:6.451000px;}
.y43{bottom:6.853998px;}
.y45{bottom:6.854001px;}
.y75{bottom:8.425999px;}
.y6a{bottom:18.048000px;}
.y42{bottom:20.281998px;}
.y47{bottom:33.710000px;}
.y8e{bottom:38.377003px;}
.y6e{bottom:39.000000px;}
.y8d{bottom:59.677006px;}
.y2c{bottom:78.696022px;}
.y8c{bottom:80.977009px;}
.y2b{bottom:92.124023px;}
.y8b{bottom:102.277012px;}
.y2a{bottom:105.552023px;}
.y4d{bottom:107.048012px;}
.y38{bottom:107.500000px;}
.y29{bottom:119.565002px;}
.y8a{bottom:123.577015px;}
.y28{bottom:132.993002px;}
.y4c{bottom:140.204002px;}
.y89{bottom:144.877010px;}
.y27{bottom:155.005980px;}
.y88{bottom:166.177006px;}
.y4b{bottom:173.359993px;}
.y26{bottom:176.434021px;}
.y87{bottom:187.477009px;}
.y25{bottom:189.862020px;}
.y6d{bottom:203.334003px;}
.y24{bottom:203.875000px;}
.y59{bottom:204.000000px;}
.y4a{bottom:206.515999px;}
.y86{bottom:208.777008px;}
.y23{bottom:217.302999px;}
.y85{bottom:230.077007px;}
.y6c{bottom:232.828007px;}
.y22{bottom:239.316009px;}
.y49{bottom:239.672005px;}
.y84{bottom:251.377007px;}
.y21{bottom:260.743988px;}
.y69{bottom:262.322006px;}
.y83{bottom:271.105007px;}
.y48{bottom:272.827995px;}
.y4{bottom:273.903015px;}
.y20{bottom:274.171988px;}
.y1f{bottom:288.184998px;}
.y68{bottom:291.816006px;}
.y1e{bottom:301.612997px;}
.y82{bottom:302.786987px;}
.y46{bottom:305.983997px;}
.y1d{bottom:315.625998px;}
.y81{bottom:316.214993px;}
.y67{bottom:323.497993px;}
.y1c{bottom:329.638998px;}
.y80{bottom:329.642990px;}
.y66{bottom:336.925994px;}
.y7f{bottom:343.070992px;}
.y1b{bottom:343.652008px;}
.y44{bottom:352.567997px;}
.y7e{bottom:356.498992px;}
.y1a{bottom:357.080008px;}
.y65{bottom:358.354012px;}
.y19{bottom:371.092987px;}
.y64{bottom:371.782012px;}
.y41{bottom:372.295998px;}
.y7d{bottom:377.927001px;}
.y18{bottom:384.520987px;}
.y3{bottom:395.145004px;}
.y17{bottom:398.533997px;}
.y58{bottom:399.168016px;}
.y4e{bottom:399.500000px;}
.y63{bottom:400.552988px;}
.y7c{bottom:409.328999px;}
.y16{bottom:411.961996px;}
.y40{bottom:417.406005px;}
.y7b{bottom:430.629002px;}
.y57{bottom:432.324007px;}
.y37{bottom:432.416015px;}
.y15{bottom:433.975005px;}
.y3f{bottom:446.177011px;}
.y62{bottom:450.169005px;}
.y36{bottom:450.843993px;}
.y7a{bottom:451.929005px;}
.y14{bottom:455.403000px;}
.y56{bottom:465.479998px;}
.y13{bottom:468.830999px;}
.y35{bottom:469.272002px;}
.y61{bottom:471.596992px;}
.y79{bottom:473.229000px;}
.y60{bottom:485.024993px;}
.y34{bottom:487.699996px;}
.y12{bottom:490.843993px;}
.y78{bottom:494.528996px;}
.y3e{bottom:495.792998px;}
.y55{bottom:498.636003px;}
.y33{bottom:506.128005px;}
.y11{bottom:512.272003px;}
.y77{bottom:515.828999px;}
.y2{bottom:516.387005px;}
.y32{bottom:524.555999px;}
.y3d{bottom:524.564005px;}
.y10{bottom:525.700005px;}
.y5f{bottom:527.880996px;}
.y54{bottom:531.792009px;}
.y76{bottom:537.128998px;}
.yf{bottom:539.127998px;}
.y31{bottom:542.983993px;}
.y5e{bottom:549.309005px;}
.ye{bottom:552.556004px;}
.y74{bottom:558.428997px;}
.y30{bottom:561.412002px;}
.y53{bottom:564.948000px;}
.yd{bottom:565.984001px;}
.y3c{bottom:574.180007px;}
.yc{bottom:579.412003px;}
.y73{bottom:579.728996px;}
.y2f{bottom:579.839995px;}
.y96{bottom:580.958007px;}
.y1{bottom:589.628994px;}
.y5d{bottom:592.165000px;}
.yb{bottom:592.840003px;}
.y52{bottom:598.104002px;}
.y2e{bottom:598.267997px;}
.y72{bottom:599.456997px;}
.y3b{bottom:602.950998px;}
.y5c{bottom:613.593002px;}
.ya{bottom:614.267997px;}
.y95{bottom:623.814002px;}
.y5b{bottom:627.021003px;}
.y71{bottom:631.138999px;}
.y9{bottom:635.695999px;}
.y2d{bottom:641.124000px;}
.y51{bottom:644.688002px;}
.y8{bottom:649.124001px;}
.y3a{bottom:652.567000px;}
.y92{bottom:655.100002px;}
.y8f{bottom:655.500000px;}
.y5a{bottom:655.792002px;}
.y7{bottom:662.552001px;}
.y0{bottom:662.870998px;}
.y50{bottom:664.416002px;}
.y94{bottom:666.670001px;}
.y70{bottom:673.995002px;}
.y91{bottom:676.400002px;}
.y39{bottom:681.338001px;}
.y93{bottom:688.098001px;}
.y5{bottom:691.000000px;}
.y90{bottom:697.700001px;}
.y6{bottom:697.871000px;}
.y6f{bottom:702.766001px;}
.y4f{bottom:709.526000px;}
.h3{height:1.000000px;}
.ha{height:21.228001px;}
.h12{height:22.799999px;}
.hf{height:27.590820px;}
.he{height:30.993999px;}
.h11{height:31.388672px;}
.h6{height:31.947266px;}
.h5{height:32.720703px;}
.h9{height:34.655998px;}
.h8{height:45.656250px;}
.hb{height:48.084000px;}
.h13{height:64.500000px;}
.h4{height:66.000000px;}
.h1{height:174.257812px;}
.h2{height:178.476562px;}
.hc{height:299.000000px;}
.hd{height:488.000000px;}
.h7{height:591.000000px;}
.h10{height:680.500000px;}
.h0{height:792.000000px;}
.w7{width:72.800003px;}
.wb{width:81.000000px;}
.wc{width:81.250000px;}
.wf{width:82.500000px;}
.w10{width:82.750000px;}
.w2{width:96.750000px;}
.w6{width:114.250000px;}
.w8{width:124.949997px;}
.w9{width:132.500000px;}
.w11{width:195.250000px;}
.wd{width:199.750000px;}
.wa{width:240.250000px;}
.we{width:244.750000px;}
.w3{width:334.500000px;}
.w4{width:427.500000px;}
.w12{width:436.500000px;}
.w1{width:471.000000px;}
.w5{width:474.000000px;}
.w0{width:612.000000px;}
.xa{left:3.900000px;}
.x11{left:16.515000px;}
.x17{left:19.000000px;}
.x5{left:70.500000px;}
.x3{left:72.680000px;}
.x8{left:83.000000px;}
.x10{left:87.467001px;}
.x7{left:90.000000px;}
.x6{left:108.000000px;}
.x9{left:111.250000px;}
.x0{left:146.917999px;}
.x4{left:159.471001px;}
.x2{left:176.331993px;}
.x1{left:184.929993px;}
.xb{left:206.000000px;}
.xc{left:219.250000px;}
.xd{left:290.050003px;}
.x14{left:300.750000px;}
.xf{left:305.250000px;}
.x15{left:381.750000px;}
.x12{left:384.750000px;}
.xe{left:413.000000px;}
.x16{left:462.750000px;}
.x13{left:464.250000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-2.666667pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.680007pt;}
._1{width:69.072000pt;}
._8{width:1544.117268pt;}
._9{width:1615.925268pt;}
._3{width:1653.882602pt;}
._b{width:1941.173268pt;}
._2{width:1996.554602pt;}
._a{width:2043.487935pt;}
._4{width:2220.367935pt;}
._6{width:2247.237268pt;}
._5{width:2260.143935pt;}
._7{width:2272.581268pt;}
.fs4{font-size:50.666667pt;}
.fs2{font-size:58.666667pt;}
.fs3{font-size:85.333333pt;}
.fs1{font-size:117.333333pt;}
.fs0{font-size:320.000000pt;}
.y6b{bottom:8.601333pt;}
.y43{bottom:9.138664pt;}
.y45{bottom:9.138667pt;}
.y75{bottom:11.234666pt;}
.y6a{bottom:24.064000pt;}
.y42{bottom:27.042664pt;}
.y47{bottom:44.946666pt;}
.y8e{bottom:51.169337pt;}
.y6e{bottom:52.000000pt;}
.y8d{bottom:79.569341pt;}
.y2c{bottom:104.928029pt;}
.y8c{bottom:107.969345pt;}
.y2b{bottom:122.832031pt;}
.y8b{bottom:136.369349pt;}
.y2a{bottom:140.736031pt;}
.y4d{bottom:142.730682pt;}
.y38{bottom:143.333333pt;}
.y29{bottom:159.420003pt;}
.y8a{bottom:164.769353pt;}
.y28{bottom:177.324003pt;}
.y4c{bottom:186.938670pt;}
.y89{bottom:193.169347pt;}
.y27{bottom:206.674641pt;}
.y88{bottom:221.569341pt;}
.y4b{bottom:231.146657pt;}
.y26{bottom:235.245361pt;}
.y87{bottom:249.969345pt;}
.y25{bottom:253.149361pt;}
.y6d{bottom:271.112005pt;}
.y24{bottom:271.833333pt;}
.y59{bottom:272.000000pt;}
.y4a{bottom:275.354665pt;}
.y86{bottom:278.369344pt;}
.y23{bottom:289.737333pt;}
.y85{bottom:306.769343pt;}
.y6c{bottom:310.437342pt;}
.y22{bottom:319.088011pt;}
.y49{bottom:319.562673pt;}
.y84{bottom:335.169342pt;}
.y21{bottom:347.658651pt;}
.y69{bottom:349.762675pt;}
.y83{bottom:361.473343pt;}
.y48{bottom:363.770660pt;}
.y4{bottom:365.204020pt;}
.y20{bottom:365.562650pt;}
.y1f{bottom:384.246663pt;}
.y68{bottom:389.088008pt;}
.y1e{bottom:402.150663pt;}
.y82{bottom:403.715983pt;}
.y46{bottom:407.978663pt;}
.y1d{bottom:420.834663pt;}
.y81{bottom:421.619990pt;}
.y67{bottom:431.330658pt;}
.y1c{bottom:439.518664pt;}
.y80{bottom:439.523987pt;}
.y66{bottom:449.234659pt;}
.y7f{bottom:457.427989pt;}
.y1b{bottom:458.202677pt;}
.y44{bottom:470.090663pt;}
.y7e{bottom:475.331989pt;}
.y1a{bottom:476.106677pt;}
.y65{bottom:477.805349pt;}
.y19{bottom:494.790649pt;}
.y64{bottom:495.709349pt;}
.y41{bottom:496.394663pt;}
.y7d{bottom:503.902668pt;}
.y18{bottom:512.694649pt;}
.y3{bottom:526.860006pt;}
.y17{bottom:531.378662pt;}
.y58{bottom:532.224022pt;}
.y4e{bottom:532.666667pt;}
.y63{bottom:534.070651pt;}
.y7c{bottom:545.771998pt;}
.y16{bottom:549.282661pt;}
.y40{bottom:556.541340pt;}
.y7b{bottom:574.172002pt;}
.y57{bottom:576.432009pt;}
.y37{bottom:576.554686pt;}
.y15{bottom:578.633340pt;}
.y3f{bottom:594.902682pt;}
.y62{bottom:600.225341pt;}
.y36{bottom:601.125324pt;}
.y7a{bottom:602.572006pt;}
.y14{bottom:607.204000pt;}
.y56{bottom:620.639997pt;}
.y13{bottom:625.107999pt;}
.y35{bottom:625.696003pt;}
.y61{bottom:628.795990pt;}
.y79{bottom:630.972000pt;}
.y60{bottom:646.699991pt;}
.y34{bottom:650.266661pt;}
.y12{bottom:654.458658pt;}
.y78{bottom:659.371994pt;}
.y3e{bottom:661.057331pt;}
.y55{bottom:664.848005pt;}
.y33{bottom:674.837340pt;}
.y11{bottom:683.029338pt;}
.y77{bottom:687.771998pt;}
.y2{bottom:688.516006pt;}
.y32{bottom:699.407998pt;}
.y3d{bottom:699.418673pt;}
.y10{bottom:700.933339pt;}
.y5f{bottom:703.841328pt;}
.y54{bottom:709.056012pt;}
.y76{bottom:716.171997pt;}
.yf{bottom:718.837331pt;}
.y31{bottom:723.978657pt;}
.y5e{bottom:732.412006pt;}
.ye{bottom:736.741338pt;}
.y74{bottom:744.571996pt;}
.y30{bottom:748.549335pt;}
.y53{bottom:753.264000pt;}
.yd{bottom:754.645335pt;}
.y3c{bottom:765.573343pt;}
.yc{bottom:772.549337pt;}
.y73{bottom:772.971995pt;}
.y2f{bottom:773.119994pt;}
.y96{bottom:774.610676pt;}
.y1{bottom:786.171992pt;}
.y5d{bottom:789.553333pt;}
.yb{bottom:790.453337pt;}
.y52{bottom:797.472003pt;}
.y2e{bottom:797.690662pt;}
.y72{bottom:799.275996pt;}
.y3b{bottom:803.934664pt;}
.y5c{bottom:818.124003pt;}
.ya{bottom:819.023996pt;}
.y95{bottom:831.752003pt;}
.y5b{bottom:836.028004pt;}
.y71{bottom:841.518665pt;}
.y9{bottom:847.594666pt;}
.y2d{bottom:854.831999pt;}
.y51{bottom:859.584002pt;}
.y8{bottom:865.498667pt;}
.y3a{bottom:870.089334pt;}
.y92{bottom:873.466670pt;}
.y8f{bottom:874.000000pt;}
.y5a{bottom:874.389336pt;}
.y7{bottom:883.402668pt;}
.y0{bottom:883.827998pt;}
.y50{bottom:885.888003pt;}
.y94{bottom:888.893335pt;}
.y70{bottom:898.660002pt;}
.y91{bottom:901.866669pt;}
.y39{bottom:908.450668pt;}
.y93{bottom:917.464001pt;}
.y5{bottom:921.333333pt;}
.y90{bottom:930.266668pt;}
.y6{bottom:930.494667pt;}
.y6f{bottom:937.021334pt;}
.y4f{bottom:946.034667pt;}
.h3{height:1.333333pt;}
.ha{height:28.304001pt;}
.h12{height:30.399999pt;}
.hf{height:36.787760pt;}
.he{height:41.325333pt;}
.h11{height:41.851562pt;}
.h6{height:42.596354pt;}
.h5{height:43.627604pt;}
.h9{height:46.207998pt;}
.h8{height:60.875000pt;}
.hb{height:64.112000pt;}
.h13{height:86.000000pt;}
.h4{height:88.000000pt;}
.h1{height:232.343750pt;}
.h2{height:237.968750pt;}
.hc{height:398.666667pt;}
.hd{height:650.666667pt;}
.h7{height:788.000000pt;}
.h10{height:907.333333pt;}
.h0{height:1056.000000pt;}
.w7{width:97.066671pt;}
.wb{width:108.000000pt;}
.wc{width:108.333333pt;}
.wf{width:110.000000pt;}
.w10{width:110.333333pt;}
.w2{width:129.000000pt;}
.w6{width:152.333333pt;}
.w8{width:166.599996pt;}
.w9{width:176.666667pt;}
.w11{width:260.333333pt;}
.wd{width:266.333333pt;}
.wa{width:320.333333pt;}
.we{width:326.333333pt;}
.w3{width:446.000000pt;}
.w4{width:570.000000pt;}
.w12{width:582.000000pt;}
.w1{width:628.000000pt;}
.w5{width:632.000000pt;}
.w0{width:816.000000pt;}
.xa{left:5.200000pt;}
.x11{left:22.020000pt;}
.x17{left:25.333333pt;}
.x5{left:94.000000pt;}
.x3{left:96.906667pt;}
.x8{left:110.666667pt;}
.x10{left:116.622669pt;}
.x7{left:120.000000pt;}
.x6{left:144.000000pt;}
.x9{left:148.333333pt;}
.x0{left:195.890666pt;}
.x4{left:212.628001pt;}
.x2{left:235.109324pt;}
.x1{left:246.573324pt;}
.xb{left:274.666667pt;}
.xc{left:292.333333pt;}
.xd{left:386.733337pt;}
.x14{left:401.000000pt;}
.xf{left:407.000000pt;}
.x15{left:509.000000pt;}
.x12{left:513.000000pt;}
.xe{left:550.666667pt;}
.x16{left:617.000000pt;}
.x13{left:619.000000pt;}
}
